[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
colour = "*"
Quart = "*"
Pillow = "*"
scikit_learn = "*"
scikit_image = "*"
scipy = "*"
imageio = "*"
h5py = "*"
tensorflow = "*"
Keras = "*"
Keras_Applications = "*"

[requires]
python_version = "3.7"
